<!-- works gallery -->
<div class="works-gallery">
  <% for (let i=0; i<projects.length; i++) { %>
  <!-- single work -->
  <div class="work">
    <div class="work-image-container">
      <img src="<%= projects[i].worksSectionImage %>" alt="<%= projects[i].projectProductName %>" class="work-photo">
    </div>
    <div class="work-description-container">
      <p class="work-name font-body-norm"><%= projects[i].projectProductName %></p>
      <p class="work-date font-body-norm"><%= projects[i].projectYear %></p>
    </div>
  </div>
  <!-- end of single work -->
  <% } %>
</div>
<style>
  .works-gallery {
    display: grid;
    margin: 28px auto 0 auto;
    grid-template-rows: repeat(<%= projects.length %>, auto);
    row-gap: 30px;
  }
</style>
<!-- end of works gallery -->