<%- include('partials/header'); -%>

  <body>
    <!-- hero -->
    <section class="hero-section section-center" id="hero">
      <div class="hero-center viewport-aware-centering">
        <%- include('partials/heroCarousel'); -%>
      </div>
    </section>
    <!-- end of hero -->
    <!-- about -->
      <%- include('partials/about') -%>
    <!-- end of about -->
    <!-- works section -->
    <section class="works-section section-center" id="works">
      <div class="works-center viewport-aware-centering">
        <p class="works-header font-header">Let the images speak for themselves</p>

        <%- include('partials/portfolioGallery') -%>

        <p class="works-text font-body-italic">
          Some are case studies, other ones are actual products, but here’s a selection of my best work up to date.
        </p>
        <p class="works-nav-text font-body-italic">
          Decided yet?
        </p>
        <button class="works-lets-talk-btn lets-talk-btn font-btn">Let's talk</button>
      </div>
    </section>
    <!-- end of works section -->
    <!-- reviews section -->
    <section class="reviews-section section-center" id="reviews">
      <div class="reviews-center viewport-aware-centering">
        
        <%- include('reviews') -%>
       
      </div>
    </section>
    <!-- end of reviews section -->
    <!-- services section -->
    <%- include('partials/services') -%>
    <!-- end of services section -->
    <!-- faq section -->
    <section class="faq-section section-center" id="faq">
      <div class="faq-center viewport-aware-centering">
        <p class="faq-header font-header">
          Here’s a list of the most common questions I get asked
        </p>
        <% for(let i=0; i<faqItems.length; i++) { %>
        <!-- single faq question -->
        <div class="faq-question-container">
          <div class="faq-question-separator"></div>
          <div class="faq-question-header-container">
            <p class="faq-question-header font-body-norm">
              <%= faqItems[i].question %>
            </p>
            <p class="faq-question-header-symbol font-body-norm" name="faq-question-header-symbol"><i class="fa-solid fa-plus"></i></p>
          </div>
          <p class="faq-question-answer font-body-italic " name="faq-question-answer">
            <%= faqItems[i].answer %>
          </p>
        </div>
        <!-- end of single faq question -->
        <% } %>
        <div class="faq-separator"></div>
        <p class="faq-nav-text font-body-italic">
          Are you ready for the next step?
        </p>
        <button class="faq-lets-talk-btn lets-talk-btn font-btn">Let's talk</button>
      </div>
    </section>
    <!-- end of faq section -->
  </body>
  <script type="module" src="../home.js"></script>
  <script type="module" src="../resizeAboutPhoto.js"></script>
  
  <%- include('partials/footer'); -%>
